/* https://codepen.io/finnhvman/pen/zpygBB */

.onboarding .option-list label {
	z-index: 0;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
}

/* Input */
.onboarding .option-list label > input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	z-index: -1;
	position: absolute;
	left: 10px;
	top: 7px;
	display: block;
	margin: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: none;
	outline: none;
	opacity: 0;
	transform: scale(1);
	pointer-events: none;
	transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.onboarding .option-list label > span {
	display: inline-block;
	width: 100%;
	position: relative;
}

/* Box */
.onboarding .option-list label > span::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	margin: 3px 11px 3px 1px;
	border: solid 2px; /* Safari */
	border-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	width: 18px;
	height: 18px;
	vertical-align: top;
	transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.onboarding .option-list label > span::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 1px;
	width: 10px;
	height: 5px;
	border: solid 2px transparent;
	border-right: none;
	border-top: none;
	transform: translate(3px, 4px) rotate(-45deg);
	box-sizing: content-box;
}

/* Checked, Indeterminate */
.onboarding .option-list label > input:checked,
.onboarding .option-list label > input:indeterminate {
	background-color: rgb(33, 150, 243);
}

.onboarding .option-list label > input:checked + span::before,
.onboarding .option-list label > input:indeterminate + span::before {
	border-color: rgb(33, 150, 243);
	background-color: rgb(33, 150, 243);
}

.onboarding .option-list label > input:checked + span::after,
.onboarding .option-list label > input:indeterminate + span::after {
	border-color: rgb(255, 255, 255);
}

.onboarding .option-list label > input:indeterminate + span::after {
	border-left: none;
	transform: translate(4px, 3px);
}

/* Hover, Focus */
.onboarding .option-list label:hover > input {
	opacity: 0.04;
}

.onboarding .option-list label > input:focus {
	opacity: 0.12;
}

.onboarding .option-list label:hover > input:focus {
	opacity: 0.16;
}

/* Active */
.onboarding .option-list label > input:active {
	opacity: 1;
	transform: scale(0);
	transition: transform 0s, opacity 0s;
}

.onboarding .option-list label > input:active + span::before {
	border-color: rgb(33, 150, 243);
}

.onboarding .option-list label > input:checked:active + span::before {
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.onboarding .option-list label > input:disabled {
	opacity: 0;
}

.onboarding .option-list label > input:disabled + span {
	color: rgba(0, 0, 0, 0.38);
	cursor: initial;
}

.onboarding .option-list label > input:disabled + span::before {
	border-color: currentColor;
}

.onboarding .option-list label > input:checked:disabled + span::before,
.onboarding .option-list label > input:indeterminate:disabled + span::before {
	border-color: transparent;
	background-color: currentColor;
}




.material-slider {
	display: block;
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* Input */
.material-slider > input {
	-webkit-appearance: none;
	position: relative;
	top: 24px;
	display: block;
	margin: 0 0 -36px;
	width: 100%;
	height: 36px;
	background-color: transparent;
	cursor: pointer;
}

/* Without Span */
.material-slider > input:last-child {
	position: static;
	margin: 0;
}

/* Span */
.material-slider > span {
	display: inline-block;
	margin-bottom: 36px;
}

/* Focus */
.material-slider > input:focus {
	outline: none;
}

/* Disabled */
.material-slider > input:disabled {
	cursor: default;
	opacity: 0.38;
}

.material-slider > input:disabled + span {
	color: rgba(0, 0, 0, 0.38);
}

/* Webkit | Track */
.material-slider > input::-webkit-slider-runnable-track {
	margin: 17px 0;
	border-radius: 1px;
	width: 100%;
	height: 2px;
	background-color: rgba(33, 150, 243, 0.24);
}

/* Webkit | Thumb */
.material-slider > input::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	border-radius: 50%;
	height: 2px;
	width: 2px;
	background-color: rgb(33, 150, 243);
	transform: scale(6, 6);
	transition: box-shadow 0.2s;
}

/* Webkit | Hover, Focus */
.material-slider:hover > input::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.04);
}

.material-slider > input:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.12);
}

.material-slider:hover > input:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.16);
}

/* Webkit | Active */
.material-slider > input:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.24) !important;
}

/* Webkit | Disabled */
.material-slider > input:disabled::-webkit-slider-runnable-track {
	background-color: rgba(0, 0, 0, 0.38);
}

.material-slider > input:disabled::-webkit-slider-thumb {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255); /* Safari */
	box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
	transform: scale(4, 4);
}
